* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: relative;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.col h2 {
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  transition: background 0.3s;
}

.col h2:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.col button {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.3s;
}
.col button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn__change-colors {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 150px;
  text-align: center;
  width: 170px;
  height: 60px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 20px;
  display: block;
  cursor: pointer;
  font-size: 1.5em;
  margin: 0 auto;
}

.btn__change-colors:not(.active) {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8),
    inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3),
    0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background-image: linear-gradient(#3b2751, #271739);
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}

@media (max-width: 670px) {
  .container {
    flex-direction: column;
    height: calc(100vh - 60px);
  }

  .btn__change-colors {
    bottom: 0px;
    width: 100%;
  }
}
